# Created by .ignore support plugin (hsz.mobi)
### Composer template
composer.phar

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

.DS_Store
.idea/inspectionProfiles/
.idea/workspace.xml
Data/.DS_Store
Data/Cache/
Data/Indexes/.DS_Store
Data/Locales/
Data/Logs/
Data/SQL/
Data/Scripts/
Data/Uploads/.DS_Store
Data/Uploads/Pictures/.DS_Store
Data/Uploads/Pictures/_notes/
Data/Uploads/_notes/
config/Config.php
/app.yaml
/config/settings.yml
/config/lilrichard-933a4edd521a.json
